
.bt-form{
    width: 150px; 
    height: 40px;     
    background-color: white !important;
    border-color: #052d2d !important;
    color: #052d2d !important; 
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    background-color: #052d2d !important;
    color: white !important;
}
.bt-form:hover{
    background-color: white !important;
    border-color: #052d2d !important;
    color: #052d2d !important;
}
.bt-form2{
    width: 150px; 
    height: 40px;     
    background-color: white !important;
    border-color: #ffa44a !important;
    color: #ffa44a !important; 
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    background-color: #ffa44a !important;
    color: white !important;
}
.bt-form2:hover{
    background-color: white !important;
    border-color: #ffa44a !important;
    color: #ffa44a !important;
}
.bt-form3{
    width: 150px; 
    height: 40px;     
    background-color: white !important;
    border-color: #CD0000 !important;
    color: #CD0000  !important; 
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    background-color: #CD0000  !important;
    color: white !important;
}
.bt-form3:hover{
    background-color: white !important;
    border-color: #CD0000  !important;
    color: #CD0000  !important;
}

/*---DOWNLOAD DE FICHA---*/
.ficha{text-align: center;}
.img-ficha{width: 70%; }
.bt-baixar{width: 10em; height: 3em; background-color: #faa34b; cursor: pointer;}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.navbar-inverse {
    background-color: #033 !important;
    border-color: #003333 !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent !important;
}
.navbar-inverse .navbar-brand {
    color: #f4a454 !important; 
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #052d2d !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff !important;
}
.btn-primary {
    background-color: #003333 !important;
    border-color: #003333 !important;
}
.panel-primary {
    border-color: #003333 !important;
    margin-bottom: 40px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 51, 51, 0.19) !important;
}
.panel-second {
    border-color: #ffa44a !important;
    margin-bottom: 40px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 164, 74, 0.19) !important;
}
.panel-third {
    border-color: #CD0000 !important;
    margin-bottom: 40px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(205, 0, 0, 0.19) !important;
}
.panel-title {
    font-size: 30px !important;
    color: #ec8114 !important;
}
.titulo{
    color: #ffa44a;
    font-size: 'Montserrat' ;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}

input[type=file] {
  display: block !important;
  right: 1px;
  top: 1px;
  height: 34px;
  opacity: 0;
  width: 100%;
  background: none;
  position: absolute;
  overflow: hidden;
}

.control-fileupload {
  display: block;
  border: 1px solid #d6d7d6;
  background: #FFF;
  border-radius: 4px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0px 10px 2px 10px;
  overflow: hidden;
  position: relative;
  /* File upload button */
}

.control-fileupload:before,
.control-fileupload input,
.control-fileupload label {
  cursor: pointer !important;
}
.control-fileupload:before {
  /* inherit from boostrap btn styles */
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: color 0.2s ease;
  /* add more custom styles*/
  content: 'Procurar';
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
  line-height: 20px;
  text-align: center;
}
.control-fileupload:hover:before,
.control-fileupload:focus:before {
  background-color: #e6e6e6;
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  transition: background-position 0.2s ease-out;
}
.control-fileupload label {
  line-height: 24px;
  color: #999999;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  z-index: 1;
  margin-right: 90px;
  margin-bottom: 0px;
  cursor: text;
}

.btn-danger {
    color: #fff !important;
}
